body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.images{
    border-radius:50%;
    height:200px;
    width:200PX;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0px; 
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
}
h2{
    color: #66BFBF;
    margin-top: 0px;
    font-family: "Monstserrat",sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding: 10px 0px;
}
h3{
    color: #11999E;
    font-family: "Monstserrat",sans-serif;

}
p{
    line-height: 2;
}
a{
    color:#11999E;
    font-family: "Monstserrat",sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px;
}
.middle-container{
   margin: 100px 0px;
   
}
.bottom-container{
 background-color: #66BFBF;
 padding: 51px 0px 19px;
}
.top-cloud{
     position: absolute;
     right: 200px;
     top: 40px;
     
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom:300px;
}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;
}

.skill-image1{
    width: 25%;
    float:left;
    border-radius: 50%;
    margin-right: 25px;
}
.skill-image2{
    width: 25%;
    float:right;
    border-radius: 50%;
    margin-left: 25px;
}
.intro{
    width:30%;
    margin: auto;

}
hr{
    
    border: dotted #abb4b4 5px;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
    

}
.contact-message{
    width: 40%;
    margin: 40px auto;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Monstserrat",sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }